body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #5e5e5f;
  border-radius: 50px;
}

:root,
body,
html {
  background-color: #18191a;
  overflow-y: hidden;
  min-height: 100vh;
  box-sizing: border-box;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
span,
ul,
a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
